@model PFE_EMI.Models.DemandeEncadrements

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DemandeEncadrements</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID_Etudiant" class="control-label"></label>
                <input asp-for="ID_Etudiant" class="form-control" />
                <span asp-validation-for="ID_Etudiant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Prof" class="control-label"></label>
                <input asp-for="ID_Prof" class="form-control" />
                <span asp-validation-for="ID_Prof" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="liens_complementaires" class="control-label"></label>
                <input asp-for="liens_complementaires" class="form-control" />
                <span asp-validation-for="liens_complementaires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SujetPFE" class="control-label"></label>
                <input asp-for="SujetPFE" class="form-control" />
                <span asp-validation-for="SujetPFE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_depot" class="control-label"></label>
                <input asp-for="date_depot" class="form-control" />
                <span asp-validation-for="date_depot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ETAT" class="control-label"></label>
                <input asp-for="ETAT" class="form-control" />
                <span asp-validation-for="ETAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
