@model PFE_EMI.Models.Professeur

@{
    ViewData["Title"] = "Disponibilité";
}

<h1>Changement de la disponibilité</h1>

<hr />
<div class="row">
    <div class="col-12 pb-3 text-center">
        @if (Model.Disponible == 0)
        {

            <h3 class="text-danger">Vous n'acceptez pas les demande d'encadrement</h3>
        }
        else
        {

            <h3 class="text-success">Vous acceptez les demande d'encadrement</h3>
        }
    </div>
    <div class="col-12 py-4 text-center">
        @if (Model.Disponible == 0)
        {
            <a class="btn btn-success p-3" asp-action="available" >Devenir Disponible</a>
        }
        else
        {
            <a class="btn btn-warning p-3" asp-action="available">Je ne suis plus Disponible</a>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
