@model PFE_EMI.Models.RemarqueProf

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RemarqueProf</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_remarque" />
            <div class="form-group">
                <label asp-for="id_prof" class="control-label"></label>
                <input asp-for="id_prof" class="form-control" />
                <span asp-validation-for="id_prof" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_student" class="control-label"></label>
                <input asp-for="id_student" class="form-control" />
                <span asp-validation-for="id_student" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="remarque" class="control-label"></label>
                <input asp-for="remarque" class="form-control" />
                <span asp-validation-for="remarque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="liens_complementaires" class="control-label"></label>
                <input asp-for="liens_complementaires" class="form-control" />
                <span asp-validation-for="liens_complementaires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
